<div class="col-md-4 my-4">
    <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Engineer</div>
        <div class="card-body text-success" style="padding: 0">
            <ul class="list-group">
                <li class="list-group-item">ID: <span id="id"></span></li>
                <li class="list-group-item">Email: <span id="email"></span></li>
                <li class="list-group-item">GitHub: <span id="github"></span></li>
            </ul>
        </div>
    </div>
</div>