<div class="col-md-4 my-4">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Manager</div>
        <div class="card-body text-primary" style="padding: 0">
            <ul class="list-group">
                <li class="list-group-item">ID: <span id="id"></span></li>
                <li class="list-group-item">Email: <span id="email"></span></li>
                <li class="list-group-item">Office Number: <span id="officeNum"></span></li>
            </ul>
        </div>
    </div>
</div>