<div class="col-md-4 my-4">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header"><i class="fa fa-chalkboard-teacher"></i> Manager</div>
        <div class="card-body text-primary" style="padding: 0">
            <ul class="list-group">
                <li class="list-group-item">Name: <span id="name"></span></li>
                <li class="list-group-item">ID: <span id="id"></span></li>
                <li class="list-group-item">Email: <span id="email"></span></li>
                <li class="list-group-item">Office Number: <span id="officeNumber"></span></li>
            </ul>
        </div>
    </div>
</div>